In [2]:
import pandas as pd
import dask.dataframe as dd 
from pyaxis import pyaxis
from pprint import pprint
from glob import glob

from glob import glob
from sys import getsizeof

## 01_census

In [3]:
codebook = pd.read_excel('aux_data/01_census/Microdatos_personas_nacional/Personas detallado_WEB.xlsx')
codebook.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,Sample file of anonymized microdata PEOPLE- HOUSEHOLDS CENSUS 2011,NaN,NaN,NaN,NaN,NaN
1,NaN,A record for each person residing in main dwellings,NaN,L=280 c.,NaN,NaN,NaN
2,NaN,Field Name,Nombre de la variable,field length,Start,The end,Valid values
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ID,province code,CPRO,2,1,2,From 1 to 52
6,NaN,Municipality code or size,CMUN,3,3,5,"If size of municipality <=2,000, CMUN=991 If 2,001 <=size of municipality <=5,000, CMUN=992 If 5,001 <=size of municipality <=10,000, CMUN=993 If 10,001 <=size of municipality <=20,000, CMUN=994 If municipality size >20,000, CMUN=Municipality code"
7,NaN,Hole identifier,IDHUECO,10,6,15,NaN
8,NaN,Final number of the person inside the hole,NORDEN,4,16,19,NaN
9,individual data,Person lift factor,FACTOR,14,20,33,"3 integer positions, 1 point and 10 decimal places"

In [4]:
columnSpecification = []
for i in range(5, 147):
    start = codebook.iloc[i, 4]
    end = codebook.iloc[i, 5]

    columnSpecification.append((start -1, end))

columnSpecification

[(0, 2),
 (2, 5),
 (5, 15),
 (15, 19),
 (19, 33),
 (33, 35),
 (35, 39),
 (39, 42),
 (42, 43),
 (43, 46),
 (46, 49),
 (49, 51),
 (51, 54),
 (54, 58),
 (58, 62),
 (62, 66),
 (66, 70),
 (70, 73),
 (73, 75),
 (75, 78),
 (78, 79),
 (79, 82),
 (82, 84),
 (84, 87),
 (87, 88),
 (88, 91),
 (91, 93),
 (93, 96),
 (96, 97),
 (97, 98),
 (98, 101),
 (101, 103),
 (103, 106),
 (106, 109),
 (109, 110),
 (110, 111),
 (111, 112),
 (112, 114),
 (114, 115),
 (115, 116),
 (116, 117),
 (117, 118),
 (118, 119),
 (119, 120),
 (120, 122),
 (122, 123),
 (123, 124),
 (124, 126),
 (126, 128),
 (128, 129),
 (129, 134),
 (134, 136),
 (136, 138),
 (138, 140),
 (140, 141),
 (141, 144),
 (144, 146),
 (146, 149),
 (149, 154),
 (154, 155),
 (155, 156),
 (156, 157),
 (157, 158),
 (158, 159),
 (159, 160),
 (160, 161),
 (161, 162),
 (162, 163),
 (163, 164),
 (164, 167),
 (167, 169),
 (169, 171),
 (171, 172),
 (172, 173),
 (173, 175),
 (175, 176),
 (176, 177),
 (177, 178),
 (178, 179),
 (179, 180),
 (180, 181),
 (181, 182),
 (182, 183),
 (183, 184),
 (184, 185),
 (185, 187),
 (187, 189),
 (189, 191),
 (191, 193),
 (193, 194),
 (194, 196),
 (196, 198),
 (198, 199),
 (199, 200),
 (200, 202),
 (202, 204),
 (204, 206),
 (206, 208),
 (208, 210),
 (210, 212),
 (212, 214),
 (214, 216),
 (216, 218),
 (218, 220),
 (220, 222),
 (222, 224),
 (224, 226),
 (226, 228),
 (228, 230),
 (230, 232),
 (232, 234),
 (234, 236),
 (236, 237),
 (237, 239),
 (239, 242),
 (242, 243),
 (243, 244),
 (244, 245),
 (245, 246),
 (246, 247),
 (247, 249),
 (249, 252),
 (252, 253),
 (253, 254),
 (254, 255),
 (255, 256),
 (256, 257),
 (257, 259),
 (259, 260),
 (260, 261),
 (261, 262),
 (262, 263),
 (263, 264),
 (264, 265),
 (265, 266),
 (266, 268),
 (268, 270),
 (270, 272),
 (272, 274),
 (274, 276),
 (276, 278),
 (278, 280)]

In [5]:
columnNames = list(codebook.iloc[5:, 1].apply(lambda field: str(field).strip()))
columnNames

['province code',
 'Municipality code or size',
 'Hole identifier',
 'Final number of the person inside the hole',
 'Person lift factor',
 'Birth month',
 'Year of birth',
 'Age',
 'Sex',
 'Country code of nationality',
 'Country of birth code',
 'Birth province code',
 'Code or size municipality of birth',
 'Year of arrival in the house',
 'Year of arrival in the municipality',
 'Year of arrival in the Autonomous Community',
 'Year of arrival in Spain',
 'Country code of previous residence',
 'Province code of previous residence',
 'Code or size municipality of previous residence',
 'Municipality of current residence and Municipality of previous residence',
 'Country code of residence 1 year ago',
 'Province of residence code 1 year ago',
 'Code or size municipality of residence 1 year ago',
 'Municipality of current residence and Municipality of residence 1 year ago',
 'Country code of residence 10 years ago',
 'Province of residence code 10 years ago',
 'Code or size municipality of residence 10 years ago',
 'Municipality of current residence and Municipality of residence 10 years ago',
 'Spend more than 14 nights in the second municipality',
 'Country code where you spend more than 14 nights',
 'Province code where you spend more than 14 nights',
 'Code or size of municipality where you spend more than 14 nights',
 'Number of nights',
 'Housing availability in second municipality',
 'Marital status',
 'Go to a school',
 'Level of studies completed',
 'Type of studies carried out',
 'Caring for a child under the age of 15',
 'Caring for a person with health problems',
 'Charity work or social volunteering',
 'Take care of most of the housework at home',
 'Indicator of whether the woman has had children',
 'Number of children of the woman',
 'Relationship with activity',
 'Type of working day',
 '2-digit occupation code',
 '2-digit economic activity code',
 'professional situation',
 'Socioeconomic status',
 'ongoing studies',
 'nan',
 'nan',
 'Place of work or study',
 'Country of work or study',
 'Province of work or study',
 'Municipality of work or study',
 'Work or study postal code',
 'Number of daily trips',
 'displacement medium',
 'nan',
 'Travel time',
 'Tenure regime',
 'Heating',
 'How much toilet with toilet',
 'bath or shower',
 'Internet access',
 'water supply system',
 'Useful surface',
 'Number of rooms',
 'Number of floors above ground',
 'Number of floors below ground',
 'building type',
 'Year of construction',
 'building status',
 'elevator in the building',
 'building accessibility',
 'Garage',
 'Number of garage spaces',
 'Gas',
 'telephone line',
 'central hot water',
 'Waste water evacuation',
 'Family number within the household',
 "father's NORDEN",
 "mother's NORDEN",
 'NORDEN of the spouse or partner',
 'NORDEN from another relative',
 'Condition within the core',
 'Core number within the household',
 'household size',
 'Number of families in the household',
 'Number of cores in the home',
 'Number of generations in the household',
 'household structure',
 'type of home',
 'Number of employed persons in the household',
 'Number of unemployed or inactive persons in the household',
 'Number of people in family',
 'Number of people belonging to a nucleus',
 'Number of people from 0 to 4 years old in the household',
 'Number of people aged 5 to 15 in the household',
 'Number of people aged 16 to 24 in the household',
 'Number of people aged 25 to 34 in the household',
 'Number of people aged 35 to 64 in the household',
 'Number of people aged 65 to 84 in the household',
 'Number of people in the household aged 85 or over in the household',
 'Spanish men at home',
 'Spanish women at home',
 'Foreign men at home',
 'Foreign women at home',
 'Nationality mix at home',
 'Age five-year groups of the father',
 "Father's country of birth",
 "father's nationality",
 "Father's marital status",
 'Educational level of the father (in degrees)',
 'Relationship with the activity of the father',
 "Father's professional status",
 'Age five-year groups of the mother',
 "Mother's country of birth",
 "Mother's Nationality",
 "mother's marital status",
 'Educational level of the mother (in degrees)',
 'Relationship with the activity of the mother',
 "Mother's professional situation",
 'Age five-year groups of the spouse',
 "Spouse's Country of Birth",
 'Nationality of the spouse',
 'Marital status of the spouse',
 "Spouse's educational level (in degrees)",
 'Relationship with the activity of the spouse',
 'Professional situation of the spouse',
 'core type',
 'core size',
 'Number of children',
 'Number of common children of the kernel',
 'Large family indicator',
 'Type of partner (de facto or de jure)',
 'Type of couple (same sex, different sex)',
 'Age difference between male and female core']

In [6]:
ddf = dd.read_fwf(
    'aux_data/01_census/Microdatos_personas_nacional/MicrodatosCP_NV_per_nacional_3VAR.txt', 
    colspecs=columnSpecification, 
    header=None,
    assume_missing=True, 
    )
ddf.columns = columnNames

ddf = ddf.drop(columns=['nan'])
ddf.head()

,province code,Municipality code or size,Hole identifier,Final number of the person inside the hole,Person lift factor,Birth month,Year of birth,Age,Sex,Country code of nationality,...,Relationship with the activity of the spouse,Professional situation of the spouse,core type,core size,Number of children,Number of common children of the kernel,Large family indicator,Type of partner (de facto or de jure),"Type of couple (same sex, different sex)",Age difference between male and female core
0,1.0,991.0,13.0,1.0,1.285801,1.0,1912.0,99.0,1.0,108.0,...,NaN,NaN,3.0,1.0,1.0,0.0,1.0,4.0,4.0,8.0
1,1.0,991.0,13.0,2.0,1.285801,10.0,1944.0,67.0,6.0,108.0,...,NaN,NaN,3.0,1.0,1.0,0.0,1.0,4.0,4.0,8.0
2,1.0,59.0,65.0,1.0,12.585368,1.0,1915.0,96.0,1.0,108.0,...,7.0,8.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,6.0
3,1.0,59.0,65.0,2.0,12.585368,6.0,1923.0,88.0,6.0,108.0,...,7.0,8.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,6.0
4,1.0,59.0,138.0,1.0,14.037818,1.0,1917.0,94.0,1.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
ddf.to_parquet(
    'aux_data/01_census/Microdatos_personas_nacional/parquet/', 
    name_function=lambda x: f'census2011-{x:03}.parquet',
    engine='fastparquet',               
    compression='snappy', 
    write_index=True, 
    append=False, 
    write_metadata_file=True, 
    schema='infer', 
    )

In [2]:
test = dd.read_parquet('aux_data/01_census/Microdatos_personas_nacional/parquet')
test.head()

,province code,Municipality code or size,Hole identifier,Final number of the person inside the hole,Person lift factor,Birth month,Year of birth,Age,Sex,Country code of nationality,...,Relationship with the activity of the spouse,Professional situation of the spouse,core type,core size,Number of children,Number of common children of the kernel,Large family indicator,Type of partner (de facto or de jure),"Type of couple (same sex, different sex)",Age difference between male and female core
0,1.0,991.0,13.0,1.0,1.285801,1.0,1912.0,99.0,1.0,108.0,...,NaN,NaN,3.0,1.0,1.0,0.0,1.0,4.0,4.0,8.0
1,1.0,991.0,13.0,2.0,1.285801,10.0,1944.0,67.0,6.0,108.0,...,NaN,NaN,3.0,1.0,1.0,0.0,1.0,4.0,4.0,8.0
2,1.0,59.0,65.0,1.0,12.585368,1.0,1915.0,96.0,1.0,108.0,...,7.0,8.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,6.0
3,1.0,59.0,65.0,2.0,12.585368,6.0,1923.0,88.0,6.0,108.0,...,7.0,8.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,6.0
4,1.0,59.0,138.0,1.0,14.037818,1.0,1917.0,94.0,1.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
len(test)

4107465

In [20]:
len(test.columns)

139

In [7]:
pprint(list(test.columns), compact=True, width=180)

['province code', 'Municipality code or size', 'Hole identifier', 'Final number of the person inside the hole', 'Person lift factor', 'Birth month', 'Year of birth', 'Age', 'Sex',
 'Country code of nationality', 'Country of birth code', 'Birth province code', 'Code or size municipality of birth', 'Year of arrival in the house',
 'Year of arrival in the municipality', 'Year of arrival in the Autonomous Community', 'Year of arrival in Spain', 'Country code of previous residence',
 'Province code of previous residence', 'Code or size municipality of previous residence', 'Municipality of current residence and Municipality of previous residence',
 'Country code of residence 1 year ago', 'Province of residence code 1 year ago', 'Code or size municipality of residence 1 year ago',
 'Municipality of current residence and Municipality of residence 1 year ago', 'Country code of residence 10 years ago', 'Province of residence code 10 years ago',
 'Code or size municipality of residence 10 years ago', 'Municipality of current residence and Municipality of residence 10 years ago',
 'Spend more than 14 nights in the second municipality', 'Country code where you spend more than 14 nights', 'Province code where you spend more than 14 nights',
 'Code or size of municipality where you spend more than 14 nights', 'Number of nights', 'Housing availability in second municipality', 'Marital status', 'Go to a school',
 'Level of studies completed', 'Type of studies carried out', 'Caring for a child under the age of 15', 'Caring for a person with health problems',
 'Charity work or social volunteering', 'Take care of most of the housework at home', 'Indicator of whether the woman has had children', 'Number of children of the woman',
 'Relationship with activity', 'Type of working day', '2-digit occupation code', '2-digit economic activity code', 'professional situation', 'Socioeconomic status',
 'ongoing studies', 'Place of work or study', 'Country of work or study', 'Province of work or study', 'Municipality of work or study', 'Work or study postal code',
 'Number of daily trips', 'displacement medium', 'Travel time', 'Tenure regime', 'Heating', 'How much toilet with toilet', 'bath or shower', 'Internet access',
 'water supply system', 'Useful surface', 'Number of rooms', 'Number of floors above ground', 'Number of floors below ground', 'building type', 'Year of construction',
 'building status', 'elevator in the building', 'building accessibility', 'Garage', 'Number of garage spaces', 'Gas', 'telephone line', 'central hot water',
 'Waste water evacuation', 'Family number within the household', "father's NORDEN", "mother's NORDEN", 'NORDEN of the spouse or partner', 'NORDEN from another relative',
 'Condition within the core', 'Core number within the household', 'household size', 'Number of families in the household', 'Number of cores in the home',
 'Number of generations in the household', 'household structure', 'type of home', 'Number of employed persons in the household',
 'Number of unemployed or inactive persons in the household', 'Number of people in family', 'Number of people belonging to a nucleus',
 'Number of people from 0 to 4 years old in the household', 'Number of people aged 5 to 15 in the household', 'Number of people aged 16 to 24 in the household',
 'Number of people aged 25 to 34 in the household', 'Number of people aged 35 to 64 in the household', 'Number of people aged 65 to 84 in the household',
 'Number of people in the household aged 85 or over in the household', 'Spanish men at home', 'Spanish women at home', 'Foreign men at home', 'Foreign women at home',
 'Nationality mix at home', 'Age five-year groups of the father', "Father's country of birth", "father's nationality", "Father's marital status",
 'Educational level of the father (in degrees)', 'Relationship with the activity of the father', "Father's professional status", 'Age five-year groups of the mother',
 "Mother's country of birth", "Mother's Nationality", "mother's marital status", 'Educational level of the mother (in degrees)', 'Relationship with the activity of the mother',
 "Mother's professional situation", 'Age five-year groups of the spouse', "Spouse's Country of Birth", 'Nationality of the spouse', 'Marital status of the spouse',
 "Spouse's educational level (in degrees)", 'Relationship with the activity of the spouse', 'Professional situation of the spouse', 'core type', 'core size', 'Number of children',
 'Number of common children of the kernel', 'Large family indicator', 'Type of partner (de facto or de jure)', 'Type of couple (same sex, different sex)',
 'Age difference between male and female core']

In [19]:
pd.options.display.min_rows = 30
test['Municipality code or size'].value_counts(normalize=True).compute() * 100

991.0    22.123159
992.0     9.850918
993.0     9.006845
994.0     8.242700
79.0      5.833793
19.0      3.215852
30.0      1.276043
250.0     1.218903
297.0     1.153047
91.0      1.087849
16.0      1.049552
20.0      0.996308
67.0      0.993825
15.0      0.968115
40.0      0.938146
           ...
90.0      0.034644
118.0     0.033037
119.0     0.032112
112.0     0.031552
117.0     0.031309
213.0     0.030919
214.0     0.030627
270.0     0.029605
202.0     0.027681
105.0     0.027243
160.0     0.026659
10.0      0.026148
86.0      0.023859
905.0     0.021254
48.0      0.018941
Name: Municipality code or size, Length: 184, dtype: float64

In [65]:
for file in glob('aux_data/01_census/migraciones_en/px/l1/*px'):
    
    px = pyaxis.parse(
        uri=file,
        encoding='ISO-8859-2')

    # print('\n\n' + file.partition('\\')[-1].center(140, '='))
    # pprint(px['METADATA'], indent=4, compact=True, width=140)
    # input()
    filename = file.partition('\\')[-1]
    print(f"{filename:>10} -- {px['METADATA']['CONTENTS']}")

  10304.px -- ['Immigration flow from abroad by year, sex and generation (age on 31 December)']
  24282.px -- ['Immigration flow from abroad by year, sex and age group']
  24287.px -- ['Immigration flow from abroad by year, sex, age group and nationality']
  24289.px -- ['Immigration flow from abroad by year, sex, age group and country of birth']
  24290.px -- ['Immigration flow from abroad by year, sex, age group, country of origin, nationality (Spanish/foreign) and country of birth with respect to the country of origin']
  24293.px -- ['Immigration flow from abroad by year, nationality and country of birth (Spain/abroad)']
  24294.px -- ['Immigration flow from abroad by year, country of birth and nationality (Spanish/foreign)']
  24295.px -- ['Immigration flow from abroad by year, country of origin and nationality (Spanish/foreign)']
  24296.px -- ['Emigration flow abroad by year, sex and age group']
  24297.px -- ['Emigration flow abroad by year, sex and generation (age on 31 December)']
  24298.px -- ['Emigration flow abroad by year, sex, age group and nationality']
  24299.px -- ['Emigration flow abroad by year, sex, age group and country of birth']
  24300.px -- ['Emigration flow abroad by year, sex, age group, country of destination, nationality (Spanish/foreign) and country of birth with respect to the country of destination']
  24301.px -- ['Emigration flow abroad by year, nationality and country of birth (Spain/abroad)']
  24302.px -- ['Emigration flow abroad by year, country of birth and nationality (Spanish/foreign)']
  24303.px -- ['Emigration flow abroad by year, country of destination and nationality (Spanish/foreign)']
  24304.px -- ['External migration balance by year and age group']
  24305.px -- ['External migration balance by year, sex and generation (age on 31 December)']
  24306.px -- ['External migration balance by year, sex, age group and nationality']
  24307.px -- ['External migration balance by year, sex, age group and country of birth']
  24309.px -- ['External migration balance by year, nationality and country of birth (Spain/abroad)']
  24310.px -- ['External migration balance by year, country of birth and nationality (Spanish/foreign)']
  24312.px -- ['Immigration flow from abroad by Autonomous Community, year, sex, age group and nationality (Spanish/foreign)']
  24313.px -- ['Immigration flow from abroad by Autonomous Community, year and nationality']
  24314.px -- ['Immigration flow from abroad by Autonomous Community, year and country of birth']
  24316.px -- ['Emigration flow abroad by Autonomous Community, year, sex, age group and nationality (Spanish/foreign) (country grouping)']
  24317.px -- ['Emigration flow abroad by Autonomous Community, year and nationality']
  24318.px -- ['Emigration flow abroad by Autonomous Community, year and country of birth']
  24319.px -- ['External migration balance by Autonomous Community, year, sex, age group and nationality (Spanish/foreign)']
  24320.px -- ['External migration balance by Autonomous Community, year and nationality']
  24321.px -- ['External migration balance by Autonomous Community, year and country of birth']
  24322.px -- ['Immigration flow from abroad by province, year, sex, age group and nationality (Spanish/foreign)']
  24323.px -- ['Immigration flow from abroad by province, year and nationality']
  24324.px -- ['Immigration flow from abroad by province, year and country of birth']
  24325.px -- ['Emigration flow abroad by province, year, sex, age group and nationality (Spanish/foreign)']
  24326.px -- ['Emigration flow abroad by province, year and nationality']
  24327.px -- ['Emigration flow abroad by province, year and country of birth']
  24328.px -- ['External migration balance by province, year, sex, age group and nationality (Spanish/foreign)']
  24329.px -- ['External migration balance by province, year and nationality']
  24330.px -- ['External migration balance by province, year and country of birth']
  24331.px -- ['Interautonomous migration flow by year, sex and age group']
  24332.px -- ['Interautonomous migration flow by year, sex and generation (age on 31 December)']
  24333.px -- ['Interautonomous migration flow by year, sex, age group and nationality']
  24334.px -- ['Interautonomous migration flow by year, sex, age group and country of birth.']
  24335.px -- ['Interautonomous migration flow by year, sex, nationality (country grouping) and country of birth (country grouping)']
  24339.px -- ['Interprovincial migration flow by year, sex and age group']
  24340.px -- ['Interprovincial migration flow by year, sex and generation (age on 31 December)']
  24341.px -- ['Interprovincial migration flow by year, sex, age group and nationality']
  24342.px -- ['Interprovincial migration flow by year, sex, age group and country of birth']
  24343.px -- ['Interprovincial migration flow by year, sex, nationality (country grouping) and country of birth (country grouping)']
  24369.px -- ['Interautonomous migration flow by year, Autonomous Community of origin and destination and sex']
  24370.px -- ['Interautonomous migration balance by year, Autonomous Community, sex and age group']
  24371.px -- ['Interautonomous migration balance by year, Autonomous Community, sex and age group (age on 31 December)']
  24373.px -- ['Interprovincial migration balance by year, Autonomous Community, sex, age group and nationality (country grouping)']
  24374.px -- ['Interautonomous migration balance by year, Autonomous Community, sex, age group and country of birth (country grouping)']
  24375.px -- ['Interautonomous migration balance by year, Autonomous Community, sex, nationality (country grouping) and country of birth (country grouping)']
  24377.px -- ['Interautonomous migration balance by year, Autonomous Community and nationality']
  24378.px -- ['Interautonomous migration balance by year, Autonomous Community and country of birth']
  24379.px -- ['Interprovincial migration flow by year, province of origin and destination and sex']
  24380.px -- ['Interprovincial migration balance by year, province, sex and age group']
  24381.px -- ['Interprovincial migration balance by year, province, sex and generation (age on 31 December)']
  24382.px -- ['Interprovincial migration balance by year, province, sex, age group and nationality (country grouping)']
  24383.px -- ['Interprovincial migration balance by year, province, sex, age group and country of birth (country grouping)']
  24384.px -- ['Interprovincial migration balance by year, province, sex, nationality (country grouping) and country of birth (country grouping)']
  24385.px -- ['Interprovincial migration balance by year, province and nationality']
  24386.px -- ['Interprovincial migration balance by year, province and country of birth']
  24387.px -- ['Immigration flow from abroad by year, sex and age']
  24388.px -- ['Immigration flow from abroad by semester, sex and generation (age on 31 December)']
  24389.px -- ['Immigration flow from abroad by semester, sex, age group and nationality']
  24390.px -- ['Immigration flow from abroad by semester, sex, age group and country of birth']
  24391.px -- ['Immigration flow from abroad by semester, sex, age group, country of origin, nationality (Spanish/foreign) and country of birth with respect to the country of origin']
  24392.px -- ['Immigration flow from abroad by semester, nationality and country of birth (Spain/abroad)']
  24393.px -- ['Immigration flow from abroad by semester, country of birth and nationality (Spanish/foreign)']
  24394.px -- ['Immigration flow from abroad by semester, country of origin and nationality (Spanish/foreign)']
  24395.px -- ['Emigration flow abroad by semester, sex and age group']
  24396.px -- ['Emigration flow abroad by semester, sex and generation (age on 31 December)']
  24397.px -- ['Emigration flow abroad by semester, sex, age group and nationality']
  24398.px -- ['Emigration flow abroad by semester, sex, age group and country of birth']
  24399.px -- ['Emigration flow abroad by semester, sex, age group, country of destination, nationality (Spanish/foreign) and country of birth with respect to the country of destination']
  24400.px -- ['Emigration flow abroad by semester, nationality and country of birth (Spain/abroad)']
  24401.px -- ['Emigration flow abroad by semester, country of birth and nationality (Spanish/foreign)']
  24402.px -- ['Emigration flow abroad by semester, country of destination and nationality (Spanish/foreign)']
  24403.px -- ['External migration balance by semester, sex and age group']
  24404.px -- ['External migration balance by semester, sex and generation (age on 31 December)']
  24405.px -- ['External migration balance by semester, sex, age group and nationality']
  24406.px -- ['External migration balance by semester, sex, age group and country of birth']
  24408.px -- ['External migration balance by semester, nationality and country of birth (Spain/abroad)']
  24409.px -- ['External migration balance by semester, country of birth and nationality (Spanish/foreign)']
  24411.px -- ['Immigration flow from abroad by Autonomous Community, semester, sex, age group and nationality (Spanish/foreign)']
  24412.px -- ['Immigration flow from abroad by Autonomous Community, semester and nationality']
  24413.px -- ['Immigration flow from abroad by Autonomous Community, semester and country of birth']
  24414.px -- ['Emigration flow abroad by Autonomous Community, semester, sex, age group and nationality (Spanish/foreign)']
  24415.px -- ['Emigration flow abroad by Autonomous Community, semester and nationality']
  24416.px -- ['Emigration flow abroad by Autonomous Community, semester and country of birth']
  24417.px -- ['External migration balance by autonomous communities, semester, sex, age group and nationality (Spanish/foreign)']
  24418.px -- ['External migration balance by Autonomous Community, semester and nationality']
  24419.px -- ['External migration balance by Autonomous Community, semester and country of birth']
  24420.px -- ['Immigration flow from abroad by province, semester, sex, age group and nationality (Spanish/foreign)']
  24421.px -- ['Immigration flow from abroad by province, semester and nationality']
  24422.px -- ['Immigration flow from abroad by province, semester and country of birth']
  24423.px -- ['Emigration flow abroad by province, semester, sex, age group and nationality (Spanish/foreign)']
  24424.px -- ['Emigration flow abroad by province, semester and nationality']
  24425.px -- ['Emigration flow abroad by province, semester and country of birth']
  24426.px -- ['External migration balance by province, semester, sex, age group and nationality (Spanish/foreign)']
  24427.px -- ['External migration balance by province, semester and nationality']
  24428.px -- ['External migration balance by province, semester and country of birth']
  24429.px -- ['Interautonomous migration flow by semester, sex and age group']
  24430.px -- ['Interautonomous migration flow by semester, sex and generation (age on 31 December)']
  24431.px -- ['Interautonomous migration flow by semester, sex, age group and nationality']
  24432.px -- ['Interautonomous migration flow by semester, sex, age group and country of birth']
  24433.px -- ['Interautonomous migration flow by semester, sex, nationality (country grouping) and country of birth (country grouping)']
  24434.px -- ['Interprovincial migration flow by semester, sex and age group']
  24435.px -- ['Interprovincial migration flow by semester, sex and generation (age on 31 December)']
  24436.px -- ['Interprovincial migration flow by semester, sex, age group and nationality']
  24437.px -- ['Interprovincial migration flow by semester, sex, age group and country of birth']
  24438.px -- ['Interprovincial migration flow by semester, sex, nationality (country grouping) and country of birth (country grouping)']
  24439.px -- ['Interautonomous migration flow by semester, Autonomous Community of origin and destination and sex']
  24440.px -- ['Interautonomous migration balance by semester, Autonomous Community, sex and age group']
  24441.px -- ['Interautonomous migration balance by semester, Autonomous Community, sex and generation (age on 31 December)']
  24442.px -- ['Interautonomous migration balance by semester, Autonomous Community, sex, age group and nationality (country grouping).']
  24443.px -- ['Interautonomous migration balance by semester, Autonomous Community, sex, age group and country of birth (country grouping)']
  24444.px -- ['Interautonomous migration balance by semester, Autonomous Community, sex, nationality (country grouping) and country of birth (country grouping)']
  24445.px -- ['Interautonomous migration balance by semester, Autonomous Community and nationality']
  24446.px -- ['Interautonomous migration balance by semester, Autonomous Community and country of origin']
  24447.px -- ['Interprovincial migration flow by semester, province of origin and destination and sex']
  24448.px -- ['Interautonomous migration balance by semester, province, sex and age group']
  24449.px -- ['Interprovincial migration balance by semester, province, sex and generation (age on 31 December)']
  24450.px -- ['Interprovincial migration balance by semester, province, sex, age group and nationality (country grouping)']
  24451.px -- ['Interprovincial migration balance by semester, province, sex, age group and country of birth (country grouping)']
  24452.px -- ['Interprovincial migration balance by semester, province, sex, nationality (country grouping) and country of birth (country grouping)']
  24453.px -- ['Interprovincial migration balance by semester, province and nationality']
  24454.px -- ['Interprovincial migration balance by semester, province and country of birth']
  30639.px -- ['Flujo de emigracin con destino al extranjero']
  30640.px -- ['Flujo de emigracin con destino al extranjero']
  30641.px -- ['Flujo de emigracin con destino al extranjero']
  30642.px -- ['Flujo de emigracin con destino al extranjero']
  30643.px -- ['Flujo de emigracin con destino al extranjero']
  30644.px -- ['Flujo de emigracin con destino al extranjero']
  30645.px -- ['Flujo de emigracin con destino al extranjero']
  30646.px -- ['Flujo de emigracin con destino al extranjero']

In [66]:
info = []

for file in glob('aux_data/01_census/cifras_padron_en/DATOS/padron/l1/*px'):
    
    px = pyaxis.parse(
        uri=file,
        encoding='ISO-8859-2')

    # print('\n\n' + file.partition('\\')[-1].center(140, '='))
    # pprint(px['METADATA'], indent=4, compact=True, width=140)
    # input()
    filename = file.partition('\\')[-1]
    info.append([
            file, 
            round(getsizeof(px["DATA"])/1024/1024, 2), 
            px['METADATA']['CONTENTS'][0]
        ])

pprint(sorted(info, key=lambda item: item[1], reverse=True), indent=4, width=180)

[   ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2862.px', 7.45, 'Burgos: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2891.px', 7.26, 'Salamanca: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2861.px', 6.39, 'Barcelona: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2907.px', 5.8, 'Zaragoza: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2872.px', 5.71, 'Guadalajara: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2884.px', 5.36, 'Navarra: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2903.px', 5.28, 'Valencia/Valncia: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2858.px', 5.01, 'Avila: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2906.px', 4.97, 'Zamora: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2913.px', 4.96, 'Distribution of municipalities by provinces and size of municipalities'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2869.px', 4.79, 'Cuenca: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2899.px', 4.69, 'Teruel: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2878.px', 4.64, 'Lleida: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2904.px', 4.53, 'Valladolid: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2870.px', 4.47, 'Girona: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2863.px', 4.46, 'Cceres: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2917.px', 4.29, 'Population by provinces and size of municipalities'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2877.px', 4.25, 'Len: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2894.px', 4.23, 'Segovia: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2902.px', 4.07, 'Toledo: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2875.px', 4.03, 'Huesca: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2888.px', 3.86, 'Palencia: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2900.px', 3.67, 'Tarragona: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2896.px', 3.64, 'Soria: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2881.px', 3.6, 'Madrid: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2871.px', 3.48, 'Granada: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2879.px', 3.47, 'Rioja, La: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2859.px', 3.28, 'Badajoz: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2856.px', 2.8, 'Alicante/Alacant: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2865.px', 2.7, 'Castelln/Castell: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2905.px', 2.18, 'Bizkaia: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2895.px', 2.14, 'Sevilla: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2857.px', 2.08, 'Almera: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2866.px', 2.06, 'Ciudad Real: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2882.px', 2.05, 'Mlaga: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2893.px', 2.04, 'Cantabria: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2876.px', 1.95, 'Jan: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2851.px', 1.92, 'Distribution of municipalities by Autonomous City and Community and size of the municipalities.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2868.px', 1.89, 'Corua, A: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2885.px', 1.85, 'Ourense: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2855.px', 1.73, 'Albacete: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2873.px', 1.7, 'Guipzcoa: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2915.px', 1.66, 'Population by Autonomous Community and Autonomous City and size of municipalities.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2874.px', 1.61, 'Huelva: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2886.px', 1.56, 'Asturias: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2901.px', 1.56, 'Crdoba: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2860.px', 1.35, 'Balears, Illes: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2880.px', 1.33, 'Lugo: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2890.px', 1.25, 'Pontevedra: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2892.px', 1.09, 'Santa Cruz de Tenerife: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2854.px', 1.04, 'Araba/lava: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2852.px', 1.03, 'Population by province and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2911.px', 1.01, 'Population by provincial capitals and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2918.px', 0.98, 'Variation in the population by provinces'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2919.px', 0.96, 'Variation of population by provincial capitals.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2864.px', 0.92, 'Cdiz: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2883.px', 0.91, 'Murcia: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2889.px', 0.7, 'Palmas, Las: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2853.px', 0.4, 'Population by Autonomous Community and Autonomous City and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2920.px', 0.38, 'Annual variation in the population by Autonomous Cities and Communities.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2910.px', 0.27, 'Population by island and sex'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2921.px', 0.26, 'Annual variation in the population by Islands'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2908.px', 0.04, 'Ceuta: Population by municipality and sex.'],
    ['aux_data/01_census/cifras_padron_en/DATOS/padron/l1\\2909.px', 0.04, 'Melilla: Population by municipality and sex.']]

In [67]:
df = pyaxis.parse('aux_data/01_census/cifras_padron_en/DATOS/padron/l1/2903.px', encoding='ISO-8859-2')['DATA']
df

             Municipalities      Sex Periodo       DATA
0      46 Valencia/Valncia    Total    2021  2589312.0
1      46 Valencia/Valncia    Total    2020  2591875.0
2      46 Valencia/Valncia    Total    2019  2565124.0
3      46 Valencia/Valncia    Total    2018  2547986.0
4      46 Valencia/Valncia    Total    2017  2540707.0
...                     ...      ...     ...        ...
20821           46263 Zarra  Females    2000      195.0
20822           46263 Zarra  Females    1999      198.0
20823           46263 Zarra  Females    1998      196.0
20824           46263 Zarra  Females    1997        NaN
20825           46263 Zarra  Females    1996      211.0

[20826 rows x 4 columns]

In [68]:
pprint(list(df.Municipalities.unique()), compact=True, width=180)

['46 Valencia/Valncia', '46001 Ademuz', '46002 Ador', '46004 Agullent', '46042 Aielo de Malferit', '46043 Aielo de Rugat', '46005 Alaqus', '46006 Albaida', '46007 Albal',
 '46008 Albalat de la Ribera', '46009 Albalat dels Sorells', '46010 Albalat dels Tarongers', '46011 Alberic', '46012 Alborache', '46013 Alboraia/Alboraya', '46014 Albuixech',
 '46016 Alcntera de Xquer', '46015 Alcsser', '46018 Alcublas', "46020 Alcdia de Crespins, l'", "46019 Alcdia, l'", '46021 Aldaia', '46022 Alfafar',
 '46024 Alfara de la Baronia', '46025 Alfara del Patriarca', '46026 Alfarp', '46027 Alfarras', '46023 Alfauir', '46028 Algar de Palancia', '46029 Algemes',
 "46030 Algmia d'Alfara\t", '46031 Alginet', '46032 Almssera', '46033 Almiser', '46034 Almoines', '46035 Almussafes', '46036 Alpuente', "46037 Alqueria de la Comtessa, l'",
 '46017 Alzira', '46038 Andilla', '46039 Anna', '46040 Antella', '46041 Aras de los Olmos', "46003 Atzeneta d'Albaida", '46044 Ayora', '46046 Barx', '46045 Barxeta',
 '46047 Blgida', '46048 Bellreguard', '46049 Bells', '46050 Benagber', '46051 Benaguasil', '46052 Benavites', '46053 Beneixida', '46054 Benetsser', '46055 Beniarj',
 '46056 Beniatjar', '46057 Benicolet', '46904 Benicull de Xquer', '46060 Benifai', '46059 Benifair de la Valldigna', '46058 Benifair de les Valls', '46061 Benifl',
 '46062 Benignim', '46063 Benimodo', '46064 Benimuslem', '46065 Beniparrell', '46066 Benirredr', '46067 Benissan', '46068 Benissoda', '46069 Benissuera', '46070 Btera',
 '46071 Bicorp', '46072 Bocairent', '46073 Bolbaite', '46074 Bonreps i Mirambell', '46075 Bufali', '46076 Bugarra', '46077 Buol', '46078 Burjassot', '46079 Calles',
 '46080 Camporrobles', '46081 Canals', "46082 Canet d'En Berenguer", '46083 Carcaixent', '46084 Crcer', '46085 Carlet', '46086 Carrcola', '46087 Casas Altas',
 '46088 Casas Bajas', '46089 Casinos', '46257 Castell', '46090 Castell de Rugat', '46091 Castellonet de la Conquesta', '46092 Castielfabib', '46093 Catadau', '46094 Catarroja',
 '46095 Caudete de las Fuentes', '46096 Cerd', '46107 Chella', '46106 Chelva', '46108 Chera', '46109 Cheste', '46111 Chiva', '46112 Chulilla', '46097 Cofrentes', '46098 Corbera',
 '46099 Cortes de Palls', '46100 Cotes', '46105 Cullera', '46113 Daims', '46114 Domeo', '46115 Dos Aguas', "46116 Eliana, l'", '46117 Emperador', '46118 Enguera',
 "46119 nova, l'", '46120 Estivella', '46121 Estubeny', '46122 Faura', '46123 Favara', '46126 Foios', '46128 Font de la Figuera, la', "46127 Font d'En Carrs, la",
 '46124 Fontanars dels Alforins', '46125 Fortaleny', '46129 Fuenterrobles', '46131 Gandia', '46902 Gtova', '46130 Gavarda', '46132 Genovs, el', '46133 Gestalgar', '46134 Gilet',
 '46135 Godella', '46136 Godelleta', '46137 Granja de la Costera, la', '46138 Guadassquies', '46139 Guadassuar', '46140 Guardamar de la Safor', '46141 Higueruelas',
 '46142 Jalance', '46144 Jarafuel', '46154 Llanera de Ranes', '46155 Llaur', '46147 Llria', '46152 Llocnou de la Corona', '46153 Llocnou de Sant Jeroni',
 "46151 Llocnou d'En Fenollet", '46156 Llombai', '46157 Llosa de Ranes, la', '46150 Llutxent', '46148 Loriguilla', '46149 Losa del Obispo', '46158 Macastre', '46159 Manises',
 '46160 Manuel', '46161 Marines', '46162 Massalavs', '46163 Massalfassar', '46164 Massamagrell', '46165 Massanassa', '46166 Meliana', '46167 Millares', '46168 Miramar',
 '46169 Mislata', '46170 Mogente/Moixent', '46171 Moncada', '46173 Montaverner', '46174 Montesa', '46175 Montitxelvo/Montichelvo', '46176 Montroi/Montroy', '46172 Montserrat',
 '46177 Museros', '46178 Nquera/Nquera', '46179 Navarrs', '46180 Novel/Novetl', '46181 Oliva', "46183 Olleria, l'", '46182 Olocau', '46184 Ontinyent', '46185 Otos',
 '46186 Paiporta', '46187 Palma de Ganda', '46188 Palmera', '46189 Palomar, el', '46190 Paterna', '46191 Pedralba', '46192 Petrs', '46193 Picanya', '46194 Picassent',
 '46195 Piles', '46196 Pinet', '46199 Pobla de Farnals, la', '46202 Pobla de Vallbona, la', '46200 Pobla del Duc, la', '46203 Pobla Llarga, la', '46197 Poliny de Xquer',
 '46198 Potries', '46205 Puol', '46201 Puebla de San Miguel', '46204 Puig de Santa Maria, el', '46101 Quart de les Valls', '46102 Quart de Poblet', '46103 Quartell',
 '46104 Quatretonda', '46206 Quesa', '46207 Rafelbunyol', '46208 Rafelcofer', '46209 Rafelguaraf', '46210 Rfol de Salem', '46212 Real', '46211 Real de Ganda, el',
 '46213 Requena', '46214 Riba-roja de Tria', '46215 Riola', '46216 Rocafort', '46217 Rotgl i Corber', '46218 Rtova', '46219 Rugat', '46220 Sagunto/Sagunt', '46221 Salem',
 '46903 San Antonio de Benagber', '46222 Sant Joanet', '46223 Sedav', '46224 Segart', '46225 Sellent', '46226 Sempere', '46227 Senyera', '46228 Serra', '46229 Siete Aguas',
 '46230 Silla', '46231 Simat de la Valldigna', '46232 Sinarcas', '46233 Sollana', '46234 Sot de Chera', '46235 Sueca', '46236 Sumacrcer', '46237 Tavernes Blanques',
 '46238 Tavernes de la Valldigna', '46239 Teresa de Cofrentes', '46240 Terrateig', '46241 Titaguas', '46242 Torrebaja', '46243 Torrella', '46244 Torrent', '46245 Torres Torres',
 '46246 Tous', '46247 Tujar', '46248 Turs', '46249 Utiel', '46250 Valncia', '46251 Vallada', '46252 Vallanca', '46253 Valls', '46254 Venta del Moro',
 '46255 Vilallonga/Villalonga', '46256 Vilamarxant', '46258 Villar del Arzobispo', '46259 Villargordo del Cabriel', '46260 Vinalesa', '46145 Xtiva', '46143 Xeraco',
 '46146 Xeresa', '46110 Xirivella', '46261 Ytova', '46262 Yesa, La', '46263 Zarra']

In [70]:
census = pd.read_csv(
    'aux_data/01_census/9691.csv', 
    sep=';', )
census

,Sex,Provinces,Nationality,Country of birth,Periodo,Total
0,Both sexes,National Total,Total,Total,1 July 2021,47.326.687
1,Both sexes,National Total,Total,Total,1 January 2021,47.398.695
2,Both sexes,National Total,Total,Total,1 July 2020,47.355.685
3,Both sexes,National Total,Total,Total,1 January 2020,47.332.614
4,Both sexes,National Total,Total,Total,1 July 2019,47.105.358
...,...,...,...,...,...,...
992155,Females,52 Melilla,Stateless persons,Oceania,1 January 2004,0
992156,Females,52 Melilla,Stateless persons,Oceania,1 July 2003,0
992157,Females,52 Melilla,Stateless persons,Oceania,1 January 2003,0
992158,Females,52 Melilla,Stateless persons,Oceania,1 July 2002,0
992159,Females,52 Melilla,Stateless persons,Oceania,1 January 2002,0

In [73]:
print(census.Provinces.nunique())
census.Provinces.unique()

53

array(['National Total', '02 Albacete', '03 Alicante/Alacant',
       '04 Almera', '01 Araba/lava', '33 Asturias', '05 vila',
       '06 Badajoz', '07 Balears, Illes', '08 Barcelona', '48 Bizkaia',
       '09 Burgos', '10 Cceres', '11 Cdiz', '39 Cantabria',
       '12 Castelln/Castell', '13 Ciudad Real', '14 Crdoba',
       '15 Corua, A', '16 Cuenca', '20 Gipuzkoa', '17 Girona',
       '18 Granada', '19 Guadalajara', '21 Huelva', '22 Huesca',
       '23 Jan', '24 Len', '25 Lleida', '27 Lugo', '28 Madrid',
       '29 Mlaga', '30 Murcia', '31 Navarra', '32 Ourense',
       '34 Palencia', '35 Palmas, Las', '36 Pontevedra', '26 Rioja, La',
       '37 Salamanca', '38 Santa Cruz de Tenerife', '40 Segovia',
       '41 Sevilla', '42 Soria', '43 Tarragona', '44 Teruel', '45 Toledo',
       '46 Valencia/Valncia', '47 Valladolid', '49 Zamora',
       '50 Zaragoza', '51 Ceuta', '52 Melilla'], dtype=object)

## 02_crime

In [75]:
crimes = pd.read_csv('aux_data/02_crime/25708.csv', sep=';')
crimes

     Lugar de condena     Sexo Nacionalidad  Periodo    Total
0      Total Nacional    Total        Total     2020  221.437
1      Total Nacional    Total        Total     2019  286.931
2      Total Nacional    Total        Total     2018  286.637
3      Total Nacional    Total        Total     2017  285.336
4      Total Nacional    Total        Total     2016  271.526
...               ...      ...          ...      ...      ...
3811       52 Melilla  Mujeres   Extranjera     2017  123.000
3812       52 Melilla  Mujeres   Extranjera     2016   87.000
3813       52 Melilla  Mujeres   Extranjera     2015   74.000
3814       52 Melilla  Mujeres   Extranjera     2014   71.000
3815       52 Melilla  Mujeres   Extranjera     2013   75.000

[3816 rows x 5 columns]

In [77]:
print(crimes['Lugar de condena'].nunique())
crimes['Lugar de condena'].unique()

53

array(['Total Nacional', '02 Albacete', '03 Alicante/Alacant',
       '04 Almera', '01 Araba/lava', '33 Asturias', '05 vila',
       '06 Badajoz', '07 Balears, Illes', '08 Barcelona', '48 Bizkaia',
       '09 Burgos', '10 Cceres', '11 Cdiz', '39 Cantabria',
       '12 Castelln/Castell', '13 Ciudad Real', '14 Crdoba',
       '15 Corua, A', '16 Cuenca', '20 Gipuzkoa', '17 Girona',
       '18 Granada', '19 Guadalajara', '21 Huelva', '22 Huesca',
       '23 Jan', '24 Len', '25 Lleida', '27 Lugo', '28 Madrid',
       '29 Mlaga', '30 Murcia', '31 Navarra', '32 Ourense',
       '34 Palencia', '35 Palmas, Las', '36 Pontevedra', '26 Rioja, La',
       '37 Salamanca', '38 Santa Cruz de Tenerife', '40 Segovia',
       '41 Sevilla', '42 Soria', '43 Tarragona', '44 Teruel', '45 Toledo',
       '46 Valencia/Valncia', '47 Valladolid', '49 Zamora',
       '50 Zaragoza', '51 Ceuta', '52 Melilla'], dtype=object)

## 03_xenophobia

### ESS

In [21]:
fileColumns = {}
missedFiles = []

for file in glob(f'aux_data/03_xenophobia/ESS/*.csv'):
    
    name = file[file.rfind('\\')+1:-4]
    print(f'doing file {name}')

    try:
        df = pd.read_csv(
            file, 
            nrows=10,
            )

        fileColumns[name] = list(df.columns)

    except UnicodeDecodeError:
        missedFiles.append(name)
        pass

print(f'missed files: {missedFiles}')


locations = {}
count = -1
reorganisedAll = {}


for file, cols in fileColumns.items():
    reorganisedOne = [None] * 3000

    for element in cols:
        if element not in locations.keys():
            count += 1
            locations[element] = count

        reorganisedOne[locations[element]] = element


    reorganisedAll[file] = reorganisedOne





comparisonDF = pd.DataFrame(reorganisedAll)
comparisonDF.to_excel('variable comparison.xlsx')
comparisonDF

doing file 2002
doing file 2004
doing file 2006
doing file 2008
doing file 2010
doing file 2012
doing file 2014
doing file 2016
doing file 2018
missed files: []

,2002,2004,2006,2008,2010,2012,2014,2016,2018
0,name,name,name,name,name,name,name,name,name
1,essround,essround,essround,essround,essround,essround,essround,essround,essround
2,edition,edition,edition,edition,edition,edition,edition,edition,edition
3,proddate,proddate,proddate,proddate,proddate,proddate,proddate,proddate,proddate
4,cntry,cntry,cntry,cntry,cntry,cntry,cntry,cntry,cntry
...,...,...,...,...,...,...,...,...,...
2995,None,None,None,None,None,None,None,None,None
2996,None,None,None,None,None,None,None,None,None
2997,None,None,None,None,None,None,None,None,None
2998,None,None,None,None,None,None,None,None,None
2999,None,None,None,None,None,None,None,None,None

In [5]:
df = pd.read_spss('aux_data/03_xenophobia/MD3190/3190.sav')
df

,ESTU,CUES,CCAA,PROV,MUN,TAMUNI,EIEX,DISTR,SECCION,ENTREV,...,MEDITA,COMPRENS,SINCERID,FECHAINI,HORAINI,FECHAFIN,HORAFIN,DURACION,PESO,PESOCA01
0,3190,1,Andaluca,Mlaga,Mun.<=100.000 hab. no capitales de CA o provincia,5.001 a 20.000 habitantes,10 y ms % de nacidos en el extranjero,Anonimizado,Anonimizado,Anonimizado,...,Todas,Todas,Mucha,21/09/2017,9:54:07,21/09/2017,10:12:46,1119.0,0.986206,1.002973
1,3190,2,Andaluca,Mlaga,Mun.<=100.000 hab. no capitales de CA o provincia,5.001 a 20.000 habitantes,10 y ms % de nacidos en el extranjero,Anonimizado,Anonimizado,Anonimizado,...,Todas,Todas,Mucha,21/09/2017,10:14:23,21/09/2017,10:29:08,884.0,0.986206,1.002973
2,3190,3,Andaluca,Mlaga,Mun.<=100.000 hab. no capitales de CA o provincia,5.001 a 20.000 habitantes,10 y ms % de nacidos en el extranjero,Anonimizado,Anonimizado,Anonimizado,...,La mayora,La mayora,Bastante,21/09/2017,10:30:21,21/09/2017,10:47:02,1000.0,0.986206,1.002973
3,3190,4,Andaluca,Mlaga,Mun.<=100.000 hab. no capitales de CA o provincia,5.001 a 20.000 habitantes,10 y ms % de nacidos en el extranjero,Anonimizado,Anonimizado,Anonimizado,...,Todas,Todas,Mucha,21/09/2017,10:55:43,21/09/2017,11:10:35,891.0,0.986206,1.002973
4,3190,5,Andaluca,Mlaga,Mun.<=100.000 hab. no capitales de CA o provincia,5.001 a 20.000 habitantes,10 y ms % de nacidos en el extranjero,Anonimizado,Anonimizado,Anonimizado,...,Todas,Todas,Mucha,21/09/2017,11:10:51,21/09/2017,11:33:40,1368.0,0.986206,1.002973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450,3190,2451,Castilla y Len,Burgos,Mun.<=100.000 hab. no capitales de CA o provincia,Menos o igual a 5.000 habitantes,De 5 a menos del 10% de nacidos en el extranjero,Anonimizado,Anonimizado,Anonimizado,...,Todas,Todas,Mucha,30/09/2017,13:46:06,30/09/2017,14:05:46,1179.0,0.983529,NaN
2451,3190,2452,Castilla y Len,Burgos,Mun.<=100.000 hab. no capitales de CA o provincia,Menos o igual a 5.000 habitantes,De 5 a menos del 10% de nacidos en el extranjero,Anonimizado,Anonimizado,Anonimizado,...,Todas,Todas,Mucha,30/09/2017,14:07:55,30/09/2017,14:25:40,1064.0,0.983529,NaN
2452,3190,2453,Castilla y Len,Burgos,Mun.<=100.000 hab. no capitales de CA o provincia,Menos o igual a 5.000 habitantes,De 5 a menos del 10% de nacidos en el extranjero,Anonimizado,Anonimizado,Anonimizado,...,Todas,Todas,Mucha,30/09/2017,16:34:48,30/09/2017,16:56:16,1286.0,0.983529,NaN
2453,3190,2454,Castilla y Len,Burgos,Mun.<=100.000 hab. no capitales de CA o provincia,Menos o igual a 5.000 habitantes,De 5 a menos del 10% de nacidos en el extranjero,Anonimizado,Anonimizado,Anonimizado,...,La mayora,La mayora,Bastante,30/09/2017,17:34:37,30/09/2017,18:08:55,2048.0,0.983529,NaN
2454,3190,2455,Castilla y Len,Burgos,Mun.<=100.000 hab. no capitales de CA o provincia,Menos o igual a 5.000 habitantes,De 5 a menos del 10% de nacidos en el extranjero,Anonimizado,Anonimizado,Anonimizado,...,Todas,La mayora,Mucha,30/09/2017,18:20:37,30/09/2017,18:41:23,1244.0,0.983529,NaN

In [7]:
pprint(list(df.columns), compact=True, width=180)

['ESTU', 'CUES', 'CCAA', 'PROV', 'MUN', 'TAMUNI', 'EIEX', 'DISTR', 'SECCION', 'ENTREV', 'P0', 'P1_1', 'P1_2', 'P1_3', 'P1_4', 'P2_1', 'P2_2', 'P3_1', 'P3_2', 'P4', 'P5_1', 'P5_2',
 'P5_3', 'P5_4', 'P5_5', 'P5_6', 'P5_7', 'P5_8', 'P6', 'P7', 'P8', 'P9_1', 'P9_2', 'P9_3', 'P9_4', 'P10', 'P11', 'P12', 'P13_1', 'P13_2', 'P13_3', 'P13_4', 'P13_5', 'P14_1',
 'P14_2', 'P14_3', 'P14_4', 'P15_1', 'P15_2', 'P15_3', 'P15_4', 'P16', 'P17', 'P18', 'P19', 'P20', 'P21_1', 'P21_2', 'P21_3', 'P21_4', 'P21_5', 'P22_1', 'P22_2', 'P22_3', 'P22_4',
 'P23', 'P24_1', 'P24_2', 'P24_3', 'P24_4', 'P24_5', 'P24_6', 'P24_7', 'P24_8', 'P25_1', 'P25_2', 'P25_3', 'P25_4', 'P25_5', 'P25_6', 'P25_7', 'P25_8', 'P26_1', 'P26_2', 'P26_3',
 'P26_4', 'P27_1', 'P27_2', 'P27_3', 'P27_4', 'P28', 'P29', 'P29A', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35', 'P35A_1', 'P35A_2', 'P35A_3', 'P35A_4', 'P35A_5', 'P35A_6', 'P35A_7',
 'P35A_8', 'P35A_9', 'P35A_98', 'P35A_99', 'P36', 'P37', 'P38', 'P39', 'P40', 'P41', 'P41A', 'P41AR', 'RECUERDO', 'P42', 'P42A', 'P43', 'P44', 'P45', 'P46', 'P46A', 'P46B', 'P46C',
 'P46D', 'P47', 'P47A', 'P48_1', 'P48_2', 'P48_3', 'P48_4', 'P48_5', 'P48_6', 'P48_7', 'P48_9', 'P49', 'P49A', 'ESTUDIOS', 'P50', 'P50A', 'P50B', 'P51', 'P52', 'P53', 'P54', 'P55',
 'P56', 'OCUMAR11', 'P57', 'P57A', 'P58', 'RAMA09', 'CONDICION11', 'ESTATUS', 'P59', 'P60', 'P61', 'P61A', 'P61B', 'P62', 'VALORA_1', 'VALORA_2', 'VALORA_3', 'VALORA_4',
 'INTERVEN', 'TARJETAS', 'ACLARACI', 'RETICENC', 'MEDITA', 'COMPRENS', 'SINCERID', 'FECHAINI', 'HORAINI', 'FECHAFIN', 'HORAFIN', 'DURACION', 'PESO', 'PESOCA01']

In [8]:
df.MUN.unique()

['Mun.<=100.000 hab. no capitales de CA o provi..., 'Legans', 'Girona / Madrid', 'Bilbao / Jerez de la Frontera', 'vila / Barcelona', ..., 'Segovia', 'Crdoba', 'Reus', 'Mlaga', 'Pamplona/Irua']
Length: 49
Categories (49, object): ['Albacete', 'Alcal de Henares', 'Alcorcn', 'Alicante/Alacant', ..., 'Vigo', 'Zamora', 'Zaragoza', 'vila / Barcelona']

In [9]:
df.PROV.unique()

['Mlaga', 'Madrid', 'Jan', 'Len', 'Lugo', ..., 'Navarra', 'Lleida', 'Guadalajara', 'Santa Cruz de Tenerife', 'Segovia']
Length: 48
Categories (48, object): ['Albacete', 'Alicante/Alacant', 'Almera', 'Araba/lava', ..., 'Valencia/Valncia', 'Valladolid', 'Zamora', 'Zaragoza']

In [3]:
df = pd.read_csv('aux_data/03_xenophobia/deaths by cause, province/9935.csv', sep=';')
df

,Cause of death,Sex,Provinces,Periodo,Total
0,001-102 I-XXII.All causes,Total,National Total,2020,493.776
1,001-102 I-XXII.All causes,Total,National Total,2019,418.703
2,001-102 I-XXII.All causes,Total,National Total,2018,427.721
3,001-102 I-XXII.All causes,Total,National Total,2017,424.523
4,001-102 I-XXII.All causes,Total,National Total,2016,410.611
...,...,...,...,...,...
119551,090-102 XX.External causes of mortality,Females,Foreign,1984,100.000
119552,090-102 XX.External causes of mortality,Females,Foreign,1983,85.000
119553,090-102 XX.External causes of mortality,Females,Foreign,1982,99.000
119554,090-102 XX.External causes of mortality,Females,Foreign,1981,85.000
119555,090-102 XX.External causes of mortality,Females,Foreign,1980,82.000

In [4]:
df['Cause of death'].unique()

array(['001-102  I-XXII.All causes',
       '001-008  I.Infectious and parasitic diseases (1)',
       '009-041  II.Tumours',
       '042-043  III. Diseases of blood and haematopoeitic organs, and certain disorders involving the immune mechan',
       '044-045  IV.Endocrine, nutritional and metabolic diseases',
       '046-049  V.Mental and behaviour disorders',
       '050-052  VI-VIII.Diseases of the nervous system and sensory organs',
       '053-061  IX.Diseases of the circulatory system',
       '062-067  X.Diseases of the respiratory system',
       '068-072  XI.Diseases of the digestive system',
       '073  XII. Diseases of the skin and subcutaneous tissue',
       '074-076  XIII.Diseases of the osteomuscular system and of the conjunctive tissue',
       '077-080  XIV.Diseases of the genitourinary system',
       '081  XV.Pregnancy, childbirth and puerperium',
       '082  XVI.Affections originated in the perinatal period',
       '083-085  XVII.Congenital malformations, deformations and chromosomal abnormalities',
       '086-089  XVIII. Symptoms, signs and abnormal clinical and laboratory findings, not classified elsewhere (2)',
       '090-102  XX.External causes of mortality'], dtype=object)

In [5]:
df.Provinces.unique()

array(['National Total', '02 Albacete', '03 Alicante/Alacant',
       '04 Almera', '01 Araba/lava', '33 Asturias', '05 vila',
       '06 Badajoz', '07 Balears, Illes', '08 Barcelona', '48 Bizkaia',
       '09 Burgos', '10 Cceres', '11 Cdiz', '39 Cantabria',
       '12 Castelln/Castell', '13 Ciudad Real', '14 Crdoba',
       '15 Corua, A', '16 Cuenca', '20 Gipuzkoa', '17 Girona',
       '18 Granada', '19 Guadalajara', '21 Huelva', '22 Huesca',
       '23 Jan', '24 Len', '25 Lleida', '27 Lugo', '28 Madrid',
       '29 Mlaga', '30 Murcia', '31 Navarra', '32 Ourense',
       '34 Palencia', '35 Palmas, Las', '36 Pontevedra', '26 Rioja, La',
       '37 Salamanca', '38 Santa Cruz de Tenerife', '40 Segovia',
       '41 Sevilla', '42 Soria', '43 Tarragona', '44 Teruel', '45 Toledo',
       '46 Valencia/Valncia', '47 Valladolid', '49 Zamora',
       '50 Zaragoza', '51 Ceuta', '52 Melilla', 'Foreign'], dtype=object)