In [1]:
import numpy as np
import pandas as pd
import dask.dataframe as dd 
from pyaxis import pyaxis
from pprint import pprint
from glob import glob

from glob import glob
from sys import getsizeof
import warnings
warnings.filterwarnings("ignore")

In [2]:
ddf = dd.read_parquet('data/full_parquet')
ddf.head()

,province code,Municipality code or size,Hole identifier,Final number of the person inside the hole,Person lift factor,Birth month,Year of birth,Age,Sex,Country code of nationality,...,Relationship with the activity of the spouse,Professional situation of the spouse,core type,core size,Number of children,Number of common children of the kernel,Large family indicator,Type of partner (de facto or de jure),"Type of couple (same sex, different sex)",Age difference between male and female core
0,1.0,991.0,13.0,1.0,1.285801,1.0,1912.0,99.0,1.0,108.0,...,NaN,NaN,3.0,1.0,1.0,0.0,1.0,4.0,4.0,8.0
1,1.0,991.0,13.0,2.0,1.285801,10.0,1944.0,67.0,6.0,108.0,...,NaN,NaN,3.0,1.0,1.0,0.0,1.0,4.0,4.0,8.0
2,1.0,59.0,65.0,1.0,12.585368,1.0,1915.0,96.0,1.0,108.0,...,7.0,8.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,6.0
3,1.0,59.0,65.0,2.0,12.585368,6.0,1923.0,88.0,6.0,108.0,...,7.0,8.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,6.0
4,1.0,59.0,138.0,1.0,14.037818,1.0,1917.0,94.0,1.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
len(ddf)

4107465

In [4]:
ddf = ddf[~ddf['Municipality code or size'].isin([991.0, 992.0, 993.0, 994.0])]
ddf.head()

,province code,Municipality code or size,Hole identifier,Final number of the person inside the hole,Person lift factor,Birth month,Year of birth,Age,Sex,Country code of nationality,...,Relationship with the activity of the spouse,Professional situation of the spouse,core type,core size,Number of children,Number of common children of the kernel,Large family indicator,Type of partner (de facto or de jure),"Type of couple (same sex, different sex)",Age difference between male and female core
2,1.0,59.0,65.0,1.0,12.585368,1.0,1915.0,96.0,1.0,108.0,...,7.0,8.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,6.0
3,1.0,59.0,65.0,2.0,12.585368,6.0,1923.0,88.0,6.0,108.0,...,7.0,8.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,6.0
4,1.0,59.0,138.0,1.0,14.037818,1.0,1917.0,94.0,1.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.0,59.0,202.0,1.0,41.444004,1.0,1918.0,93.0,1.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1.0,59.0,202.0,2.0,41.444004,7.0,1964.0,47.0,1.0,341.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
len(ddf)

2085622

In [6]:
ddf['locationCode'] = ddf.apply(lambda postcode: f'{int(postcode["province code"]):02}{int(postcode["Municipality code or size"]):03}', axis=1).astype(str)
ddf.head()

,province code,Municipality code or size,Hole identifier,Final number of the person inside the hole,Person lift factor,Birth month,Year of birth,Age,Sex,Country code of nationality,...,Professional situation of the spouse,core type,core size,Number of children,Number of common children of the kernel,Large family indicator,Type of partner (de facto or de jure),"Type of couple (same sex, different sex)",Age difference between male and female core,locationCode
2,1.0,59.0,65.0,1.0,12.585368,1.0,1915.0,96.0,1.0,108.0,...,8.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,6.0,01059
3,1.0,59.0,65.0,2.0,12.585368,6.0,1923.0,88.0,6.0,108.0,...,8.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,6.0,01059
4,1.0,59.0,138.0,1.0,14.037818,1.0,1917.0,94.0,1.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01059
5,1.0,59.0,202.0,1.0,41.444004,1.0,1918.0,93.0,1.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01059
6,1.0,59.0,202.0,2.0,41.444004,7.0,1964.0,47.0,1.0,341.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01059

In [9]:
locationDF = pd.read_excel('data/provincial and municipal codes.xlsx')

def locationLookup(locationCode):
    try:
        return locationDF.loc[(locationDF.CPRO == int(locationCode[0:2])) & (locationDF.CMUN == int(locationCode[2:5]))].values[0][-1]
    except:
        return ''

ddf['location'] = ddf.locationCode.apply(locationLookup)
ddf.head()

,province code,Municipality code or size,Hole identifier,Final number of the person inside the hole,Person lift factor,Birth month,Year of birth,Age,Sex,Country code of nationality,...,core type,core size,Number of children,Number of common children of the kernel,Large family indicator,Type of partner (de facto or de jure),"Type of couple (same sex, different sex)",Age difference between male and female core,locationCode,location
2,1.0,59.0,65.0,1.0,12.585368,1.0,1915.0,96.0,1.0,108.0,...,1.0,1.0,0.0,0.0,1.0,1.0,1.0,6.0,01059,Vitoria-Gasteiz
3,1.0,59.0,65.0,2.0,12.585368,6.0,1923.0,88.0,6.0,108.0,...,1.0,1.0,0.0,0.0,1.0,1.0,1.0,6.0,01059,Vitoria-Gasteiz
4,1.0,59.0,138.0,1.0,14.037818,1.0,1917.0,94.0,1.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01059,Vitoria-Gasteiz
5,1.0,59.0,202.0,1.0,41.444004,1.0,1918.0,93.0,1.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01059,Vitoria-Gasteiz
6,1.0,59.0,202.0,2.0,41.444004,7.0,1964.0,47.0,1.0,341.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01059,Vitoria-Gasteiz

In [77]:
# ddf.to_csv('01_census/data/censusWithLocation.csv', single_file=True)

['c:\\Users\\astro\\Dropbox\\glovo\\aux_data\\01_census\\data\\censusWithLocation.csv']

In [11]:
ddf.to_parquet(
    'data/locationSubset', 
    name_function=lambda x: f'census2011_locationSubset-{x:03}.parquet',
    engine='fastparquet',               
    compression='snappy', 
    write_index=True, 
    append=False, 
    write_metadata_file=True, 
    schema='infer', 
    )

In [12]:
test = dd.read_parquet('data/locationSubset/')
test.head()

,province code,Municipality code or size,Hole identifier,Final number of the person inside the hole,Person lift factor,Birth month,Year of birth,Age,Sex,Country code of nationality,...,core type,core size,Number of children,Number of common children of the kernel,Large family indicator,Type of partner (de facto or de jure),"Type of couple (same sex, different sex)",Age difference between male and female core,locationCode,location
2,1.0,59.0,65.0,1.0,12.585368,1.0,1915.0,96.0,1.0,108.0,...,1.0,1.0,0.0,0.0,1.0,1.0,1.0,6.0,01059,Vitoria-Gasteiz
3,1.0,59.0,65.0,2.0,12.585368,6.0,1923.0,88.0,6.0,108.0,...,1.0,1.0,0.0,0.0,1.0,1.0,1.0,6.0,01059,Vitoria-Gasteiz
4,1.0,59.0,138.0,1.0,14.037818,1.0,1917.0,94.0,1.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01059,Vitoria-Gasteiz
5,1.0,59.0,202.0,1.0,41.444004,1.0,1918.0,93.0,1.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01059,Vitoria-Gasteiz
6,1.0,59.0,202.0,2.0,41.444004,7.0,1964.0,47.0,1.0,341.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01059,Vitoria-Gasteiz